
@{
    ViewBag.Title = "view1";
}

<h2>view1</h2>

@Ajax.ActionLink("Run JS", "JavaScript1", new AjaxOptions() { })

<button onclick="getdata()">read json data</button>
<script>
    function getdata() {
        $.getJSON("/AR/Json1",null,function(data) {
        console.log(data);
        });
    }
</script>

